doctype html
html
  head
    title 
      Diet-Guru
    = csrf_meta_tags 
    = csp_meta_tag 

    = stylesheet_link_tag "application", "data-turbo-track": "reload" 
    = javascript_importmap_tags 
 
  body data-turbo = "false"
   = render 'shared/nav'
  
  .notice
    = notice
  .alert
    = alert
  .errors

  -if user_signed_in?
    = link_to ' Log out |', destroy_user_session_path, method: :delete,  class: "nav-link active font-weight-bold"
   
  -else 
    = link_to ' Sign in  |', new_user_session_path,  class: "nav-link active"
          
  = yield 
